.between { display: flex; justify-content: space-between; } 

.centrar{ align-items: center; } 

/*Menu*/ 
.barra{ border: 5px solid blue; width: 1900px; background-color: coral; } 
.menu{ font-family:'Courier New', Courier, monospace; font-size: 40px; justify-content: space-around; } 
.menu li{ list-style: none; } .menu a{ text-decoration: none; color: blue; } 

/*Aplicante*/ 
.flex{ display: flex; } 

/*Palabras*/ 
h1, h2, h3{ font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif; color: blue; } .titulos{ justify-content: center; } 
h2{ font-family: 'Courier New', Courier, monospace; font-size: 40px; justify-content: center; padding-top: 80px; } 


/*Imagenes*/ /*Clases especiales*/ 
.blue_lock{ justify-content: center; justify-content: row; padding-top: 50px; } 
.blue_lock img{ margin: 0 auto; justify-content: space-between; }























































